html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* reseting base font-size to 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:hover, *:active {
    transition: all ease-in-out 0.15s;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: all ease-in-out 0.15s;
}
a:hover {
    text-decoration: none;
}

body {
    font-size: 1.6em; /* base font size is 16px */
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', 'Proxima Nova', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: calc(42em / 16);
}

h3 {
    font-size: calc(24em / 16);
}

::selection {
    background: #FFF9CB;
    color: rgba(0,0,0,0.9);
}


/* ————— Grid ————— */
.grid-col-300, .grid-col-2x1fr {
    display: grid;
    grid-gap: calc(80em / 16);
    justify-content: center;
}

.grid-col-300 {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(calc(300em / 16), 1fr));
    /* column width is 300em minimum and 1fr max */
}

.grid-col-2x1fr {
    grid-template-columns: repeat(2, 1fr);
}

/* ----------- */




/* Header */

header {
    background: url('images/poop_pattern.svg') #FFE3CF 50%;
    margin-bottom: calc(24em / 16);
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 85vh;
    position: relative;
}

.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(40em / 16);
}

.emoji_logo {
    font-size: calc(46em / 16);
    position: relative;
    display: flex;
    align-items: center;
}
.emoji_logo::after {
    content: attr(data-sub-emoji);
    width: 100%;
    height: 100%;
    margin-left: calc(-16em / 46);
    animation: slideAndFade 1.6s ease-in-out infinite;
}

@keyframes slideAndFade {
    0% {
        transform: translateX(calc(0 / 46));
        opacity: 0;
    }
    50% {
        transform: translateX(calc(0 / 46));
        opacity: 1;
    }
    100% {
        transform: translateX(calc(24em / 46));
        opacity: 0;
    }
}


.site_name {
    font-size: calc(42em / 16);
    font-weight: 700;
    color: #000000;
    margin-bottom: calc(12em / 42);
    text-transform: uppercase;
}

.site_description {
    color: rgba(0,0,0,0.7);
    font-size: calc(24em / 16);
    max-width: calc(660em / 24);
    text-align: center;
    line-height: 1.2;
    margin-bottom: calc(40em / 24);
}

.download_btn {
    font-size: calc(22em / 16);
    font-weight: 700;
    margin-bottom: calc(64em / 22);
    padding: calc(22em / 22) calc(80em / 22);
    border-radius: calc(66em / 22);
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    box-shadow: 0 calc(8em / 22) 0 calc(20em / 22) rgba(0,0,0,0.05), 0 calc(14em / 22) 0 0 rgba(0,0,0,0.1), 0 calc(8em / 22) 0 0 rgba(255,255,255,1);
    background: white;
    text-align: center;
    cursor: pointer;
}
.download_btn:hover {
    box-shadow: 0 calc(6em / 22) 0 calc(20em / 22) rgba(0,0,0,0.05), 0 calc(12em / 22) 0 0 rgba(0,0,0,0.1), 0 calc(8em / 22) 0 0 rgba(255,255,255,1);
    transform: translateY(calc(2em / 22));
}
.download_btn:active {
    background: rgb(254, 249, 246);
    box-shadow: 0 calc(2em / 22) 0 calc(20em / 22) rgba(0,0,0,0.05), 0 calc(8em / 22) 0 0 rgba(0,0,0,0.1), 0 calc(4em / 22) 0 0 rgba(255,255,255,1);
    transform: translateY(calc(6em / 22));
}

.extensions_screenshot {
    overflow: hidden;
    max-height: calc(400em / 16);
    display: flex;
    flex-direction: column;
}
.extensions_screenshot img {
    max-width: 100%;
}



/* Navigation */

.floating_header {
    background: white;
    padding: calc(8em / 16) 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: calc(1em / 16) solid rgba(0,0,0,0.1);
    z-index: 2;
}
.floating_header ul li {
    margin-bottom: 0;
}
.floating_header ul li:first-child {
    display: block;
}
.floating_header ul li a {
    font-size: calc(14em / 16);
    padding: calc(8em / 16) calc(32em / 16);
}
.floating_header ul li .emoji_logo {
    border: none;
    color: rgba(0,0,0,1);
}
.floating_header ul li .emoji_logo:hover {
    transform: translateY(calc(-2em / 16));
    transform-origin: center;
    background: none;
}
.floating_header ul li .emoji_logo:active {
    transform: translateY(calc(2em / 16));
}


nav {
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: calc(32em / 16);
    margin-bottom: calc(16em / 16);
}
nav ul li:last-child, nav ul li:first-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    padding: calc(16em / 16) calc(40em / 16);
    border-radius: calc(32em / 16);
    border: calc(1em / 16) solid rgba(0,0,0,0.2);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0,0,0,0.7);
}
nav ul li a:hover {
    color: rgba(0,0,0,1);
    border: calc(1em / 16) solid #FFC69D;
    background: rgba(255, 210, 178, 0.1);
}
nav ul li a:active {
    background: rgba(255, 210, 178, 0.36);
    transform: translateY(calc(2em / 16));
}

nav ul li:first-child {
    display: none;
}


/* Generic */

section {
    padding: calc(80em / 16) 0;
}

.content_wrapper {
    margin: 0 auto;
    max-width: calc(1200em / 16);
    padding: 0 calc(20em / 16);
}

.section_title {
    font-size: calc(24em / 16);
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
    margin-bottom: calc(48em / 24);
}
.section_title::before, .section_title::after {
    content: "";
    width: 100%;
    height: calc(2em / 24);
    background: rgba(0,0,0,0.1);
}
.section_title::before {
    margin-right: calc(40em / 24);
}
.section_title::after {
    margin-left: calc(40em / 24);
}

.item_img {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(16em / 16);
}
.item_img img {
    width: 100%;
}

.item_emoji {
    font-size: calc(32em / 16);
    margin-bottom: calc(16em / 32);
}

.item_title {
    font-size: calc(18em / 16);
    font-weight: 700;
    margin-bottom: calc(8em / 18);
}

.item_desc, .item_desc a {
    color: rgba(0,0,0,0.6);
}




/* Features Section */

.features_section {
}

.features_list {
}

.feature_cont {
}



/* FAQ Section */

.faq_section {
    background: rgba(255, 210, 178, 0.2);
}

.faq_list {
}

.faq_cont {
}





/* About Section */

.about_section {
}

.about_content {
}

.about_paragraph a {
    color: inherit;
}

.about_img {
    background: #CBEEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(16em / 16);
}



/* Footer */

footer {
    margin: calc(40em / 16) 0 0;
    background: rgba(0,0,0,0.04);
    padding: calc(24em / 16) 0;
}

footer .content_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.created_by, .rights, .disclaimer {
    font-size: calc(12em / 16);
}

.created_by {
    margin-right: auto;
}
.created_by a {
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-decoration: none;
}
.created_by a:hover {
    text-decoration: underline;
}

.rights {
    text-align: right;
    padding-left: calc(24em / 12);
    color: rgba(0,0,0,0.6);
}

.disclaimer {
    margin-top: calc(12em / 12);
    padding-top: calc(12em / 12);
    border-top: calc(2em / 12) solid rgba(0,0,0,0.1);
    width: 100%;
    color: rgba(0,0,0,0.4);
}



/* Floating Badge */

.floating_badge {
    background: white;
    border: calc(1em / 16) solid rgba(0,0,0,0.2);
    border-radius: 10000px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    bottom:  calc(16em / 16);
    right: calc(16em / 16);
    padding: calc(8em / 16);
    color: black;
    text-decoration: none;    
}
.floating_badge:hover {
    background: #e7f2fe;
    transform: translateY(calc(-4em / 16));
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-color: #0081ff;
}
.floating_badge:active {
    background: #daecff;
    transform: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.floating_badge img {
    max-width: 100%;
    height: 100%;
    margin-right: calc(8em / 16);
    border-radius: 50%;
}
.badge_text_cont {
    margin-right: calc(8em / 16);
}
.badge_title {
    font-size: calc(12em / 16);
    color: rgba(0,0,0,0.6);
}
.name_in_badge {
    font-size: calc(14em / 16);
    font-weight: 600;
}





/* Responsive  — Mobile */
@media screen and (max-width: 640px) {
    body {
        font-size: 1.4em;
    }
    .site_description {
        font-size: calc(20em / 16);
    }
    .site_name {
        font-size: calc(32em / 16);
    }
    .download_btn {
        font-size: calc(18em / 16);
    }
    .extensions_screenshot {
        max-height: calc(200em / 16);
    }
    nav ul li {
        margin-right: calc(8em / 16);
        margin-bottom: calc(8em / 16);
    }
    nav ul li a {
        padding: calc(10em / 16) calc(16em / 16);
        border-radius: calc(32em / 16);
    }
    .floating_header ul li {
        margin-right: calc(2em / 14);
    }
    .floating_header ul li a {
        padding: calc(8em / 16) calc(8em / 16);
        border-color: white;
    }
    .grid-col-2x1fr {
        grid-template-columns: 1fr;
        grid-gap: calc(24em / 16);
    }
    .about_paragraph {
        order: 2;
    }
    .download_btn {
        padding: calc(18em / 22) calc(40em / 22);
    }

    .created_by, .rights {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: calc(8em / 12);
    }
}


.ph_btn_cont {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: calc(8em / 16);
    margin-bottom: calc(-24em / 16);
}
